---
import CareerCard from "./CareerCard.astro"
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allBlogArticles: CollectionEntry<"career">[] = (
  await getCollection("career")
).sort(
  (a: CollectionEntry<"career">, b: CollectionEntry<"career">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="bg-white dark:bg-gray-900 pt-20">
    <!-- <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#2c5397] to-[#f7f9ff] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div> -->
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto grid-cols-1 gap-8 xl:gap-0 lg:py-56 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Join Our Team</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">At Threadcode, we believe in fostering a dynamic, inclusive, and innovative work environment where every individual can thrive and contribute to our collective success. If you're passionate about making a difference, solving complex challenges, and being part of a supportive team, then you've come to the right place.</p>
        </div>
        <div class="lg:mt-0 lg:col-span-5 lg:flex lg:pl-20">
          {allBlogArticles.map((article) => <CareerCard article={article} />)}
        </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#2c5397] to-[#f7f9ff] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
</section>

<section class="bg-transparent overflow-hidden dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <!-- <img src="/images/thisisengineering-raeng-w_zE6qlkQKA-unsplash.jpg" alt="Product screenshot" class="w-[48rem] right-content rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442"> -->
        
        <div class="lg:pr-8 lg:pt-4 left-content">
          <div class="lg:max-w-lg">
            <p class="mb-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why Join Us?</p>
            <h2 class="text-base font-semibold leading-7 text-logo-color">A better workflow</h2>        
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-logo-color dark:text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                  </svg>
                  <span class="dark:text-white">Opportunity for Growth:</span>
                </dt>
                <dd class="inline">We're committed to your professional development and provide ample opportunities for growth and advancement within the company.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-logo-color dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 576 512"><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M262.1 352.2c-11 7-19.1 18.6-21.4 31.8H112c-9.6-31.9-29.5-59.1-49.2-86.2l0 0c-5.2-7.1-10.4-14.2-15.4-21.4C27.6 247.9 16 213.3 16 176C16 78.8 94.8 0 192 0c97 0 175.6 78.4 176 175.3c-17.8 7.7-28 25.6-28 43.3v.9c-17.6-9.7-41.5-8.2-57.2 8.7c-9.2 9.9-17.4 20.9-24.4 33s-12.4 24.7-16.4 37.6c-6.7 21.6 3.4 42.7 20 53.3zM112 416H245.6c3.5 9.2 7.7 18.3 12.8 27c2.9 5 6 9.9 9.4 14.6C257.1 489.2 227.2 512 192 512c-44.2 0-80-35.8-80-80V416zm0-240c0-44.2 35.8-80 80-80c8.8 0 16-7.2 16-16s-7.2-16-16-16C130.1 64 80 114.1 80 176c0 8.8 7.2 16 16 16s16-7.2 16-16zm260 42.2c0-7 4.5-13.3 11.3-14.8c10.5-2.4 21.5-3.7 32.7-3.7s22.2 1.3 32.7 3.7c6.8 1.5 11.3 7.8 11.3 14.8v17.7c0 7.8 4.8 14.8 11.6 18.7c6.8 3.9 15.1 4.5 21.8 .6l13.8-7.9c6.1-3.5 13.7-2.7 18.5 2.4c7.6 8.1 14.3 17.2 20.1 27.2s10.3 20.4 13.5 31c2.1 6.7-1.1 13.7-7.2 17.2l-14.4 8.3c-6.5 3.7-10 10.9-10 18.4s3.5 14.7 10 18.4l14.4 8.3c6.1 3.5 9.2 10.5 7.2 17.2c-3.3 10.6-7.8 21-13.5 31s-12.5 19.1-20.1 27.2c-4.8 5.1-12.5 5.9-18.5 2.4l-13.8-7.9c-6.7-3.9-15.1-3.3-21.8 .6c-6.8 3.9-11.6 10.9-11.6 18.7l0 17.7c0 7-4.5 13.3-11.3 14.8c-10.5 2.4-21.5 3.7-32.7 3.7s-22.2-1.3-32.7-3.7c-6.8-1.5-11.3-7.8-11.3-14.8V467.8c0-7.9-4.9-14.9-11.7-18.9c-6.8-3.9-15.2-4.5-22-.6l-13.5 7.8c-6.1 3.5-13.7 2.7-18.5-2.4c-7.6-8.1-14.3-17.2-20.1-27.2s-10.3-20.4-13.5-31c-2.1-6.7 1.1-13.7 7.2-17.2l14-8.1c6.5-3.8 10.1-11.1 10.1-18.6s-3.5-14.8-10.1-18.6l-14-8.1c-6.1-3.5-9.2-10.5-7.2-17.2c3.3-10.6 7.7-21 13.5-31s12.5-19.1 20.1-27.2c4.8-5.1 12.4-5.9 18.5-2.4l13.6 7.8c6.8 3.9 15.2 3.3 22-.6c6.9-3.9 11.7-11 11.7-18.9V218.2zm92.1 133.5a48.1 48.1 0 1 0 -96.1 0 48.1 48.1 0 1 0 96.1 0z"/></svg>
                  <span class="dark:text-white">Innovative Projects:</span>
                </dt>
                <dd class="inline">Join us in tackling cutting-edge projects that push the boundaries of technology and creativity. Be part of something meaningful and impactful.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-logo-color dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M544 248v3.3l69.7-69.7c21.9-21.9 21.9-57.3 0-79.2L535.6 24.4c-21.9-21.9-57.3-21.9-79.2 0L416.3 64.5c-2.7-.3-5.5-.5-8.3-.5H296c-37.1 0-67.6 28-71.6 64H224V248c0 22.1 17.9 40 40 40s40-17.9 40-40V176c0 0 0-.1 0-.1V160l16 0 136 0c0 0 0 0 .1 0H464c44.2 0 80 35.8 80 80v8zM336 192v56c0 39.8-32.2 72-72 72s-72-32.2-72-72V129.4c-35.9 6.2-65.8 32.3-76 68.2L99.5 255.2 26.3 328.4c-21.9 21.9-21.9 57.3 0 79.2l78.1 78.1c21.9 21.9 57.3 21.9 79.2 0l37.7-37.7c.9 0 1.8 .1 2.7 .1H384c26.5 0 48-21.5 48-48c0-5.6-1-11-2.7-16H432c26.5 0 48-21.5 48-48c0-12.8-5-24.4-13.2-33c25.7-5 45.1-27.6 45.2-54.8v-.4c-.1-30.8-25.1-55.8-56-55.8c0 0 0 0 0 0l-120 0z"/></svg>
                  <span class="dark:text-white">Collaborative Culture:</span>
                </dt>
                <dd class="inline">We value collaboration and teamwork. You'll work alongside talented individuals who share your passion and dedication to excellence.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-logo-color dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-3 .5a4 4 0 0 0-1.1.7 6 6 0 0 0-1 1c-.2.3-.3.5-.6.6A3 3 0 0 1 5 7a1 1 0 1 0 0 2h1v.3l-1.9 4.2v.1A1.8 1.8 0 0 0 5.8 16h2.4a1.8 1.8 0 0 0 1.7-2.5L8 9.3V8a4.7 4.7 0 0 0 .7-.7c.1-.3.3-.4.5-.6l.2-.2c.4.6 1 1 1.6 1.3V20H5.5a1 1 0 1 0 0 2h13a1 1 0 1 0 0-2H13V7.8a3 3 0 0 0 1.6-1.4l.5.3.9.8v1.8l-1.9 4.2v.1a1.8 1.8 0 0 0 1.7 2.4h2.4a1.8 1.8 0 0 0 1.7-2.5L18 9.3V9l1 .1a1 1 0 1 0 0-2c-.5 0-.7-.1-.9-.2a3 3 0 0 1-.7-.6L16.3 5l-1.4-.7a3 3 0 0 0-5.9 0Z" clip-rule="evenodd"/>
                  </svg>                
                  <span class="dark:text-white">Work-Life Balance:</span>
                </dt>
                <dd class="inline">We understand the importance of maintaining a healthy work-life balance. Enjoy flexible work arrangements and various perks that promote well-being.</dd>
              </div>
            </dl>
          </div>
        </div>
        <img src="/images/undraw_career_progress_ivdb.svg" alt="career page image" class="w-[48rem] sm:w-[57rem] max-w-sm sm:max-w-none md:-ml-4 lg:-ml-0">
      </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">How to Apply</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-lg dark:text-gray-500">
                Express your interest in joining our team, please send your resume and cover letter to <b class="text-logo-color font-bold">info@threadcodetech.com</b>. Be sure to include the position title in the subject line of your email.<br/><br/>
                Join us in shaping the future and making a difference. Together, we can achieve greatness. We look forward to welcoming you to the <span class="text-logo-color font-bold">Threadcode</span> family!
            </p>
            <!-- <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a href="#" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Get started
                </a>
            </div> -->
        </div>
    </div>
</section>

<style>
    .left-content {
        flex: 2;
    }
    .right-content {
        flex: 1;
    }
</style>