<section id="features-section" class="bg-transparent dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        Designed for business teams like yours
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Here at Threadcode we focus on markets where technology, innovation, and
        capital can unlock long-term value and drive economic growth.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-7 md:space-y-0">
      <div class="cards bg-opacity-50 dark:bg-gray-800">
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-threadcode-color lg:h-12 lg:w-12 dark:bg-threadcode-color">
          <svg
            class="w-5 h-5 text-white lg:w-6 lg:h-6 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Custom App development
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Plan it, create it, launch it. Stay ahead of the curve with our
          world-class web app development services.
        </p>
      </div>
      <div class="cards bg-opacity-50 dark:bg-gray-800">
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-threadcode-color lg:h-12 lg:w-12 dark:bg-threadcode-color">
          <svg
            class="w-5 h-5 text-white lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <div class="cards bg-opacity-50 dark:bg-gray-800">
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-threadcode-color lg:h-12 lg:w-12 dark:bg-threadcode-color">
          <svg
            class="w-5 h-5 text-white lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
              clip-rule="evenodd"></path><path
              d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Business Automation
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Auto-assign tasks, send Slack messages, and much more. Now power up
          with hundreds of new templates to help you get started.
        </p>
      </div>
      <div class="cards bg-opacity-50 dark:bg-gray-800">
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-threadcode-color lg:h-12 lg:w-12 dark:bg-threadcode-color">
          <svg class="w-5 h-5 text-white lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/></svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Global IT Outsourcing</h3>
        <p class="text-gray-500 dark:text-gray-400">
            We provide cost-effective solutions, allowing you to focus on your core business while we handle the technical aspects.
        </p>
      </div>
      <div class="cards bg-opacity-50 dark:bg-gray-800">
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-threadcode-color lg:h-12 lg:w-12 dark:bg-threadcode-color">
          <svg
            class="w-5 h-5 text-white lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
            ></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Enterprise Design
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Craft beautiful, delightful experiences for both marketing and product
          with real cross-company collaboration.
        </p>
      </div>
      <div class="cards bg-opacity-50 dark:bg-gray-800">
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-threadcode-color lg:h-12 lg:w-12 dark:bg-threadcode-color">
          <svg
            class="w-5 h-5 text-white lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"></path></svg
          >
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Operations</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Keep your company’s lights on with customizable, iterative, and
          structured workflows built for all efficient teams and individual.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .cards {
    height: 270px;
    /* background: #F4F9FF; */
    padding: 30px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%); */
    /* border-bottom: 3px solid #2A579A;
        border-top: 3px solid #2A579A; */
    backdrop-filter: blur(22.5px);
    border-radius: 28px;

    /* --tw-shadow-color: #1E429F;
        --tw-shadow: var(--tw-shadow-colored); */
    background-color: #fff;
    transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);
  }
  .cards:hover {
    transform: scale(1.0161290323);
  }
  :is(.dark .cards.dark\:bg-gray-800) {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
</style>
