<section class="services-section">
    <div class="container mx-auto">
        <h4 class="uppercase text-center sub-heading mb-8">What we offer</h4>
        <div class="cards-container column">
            <div class="cards shadow-xl">
                <div class="card-image">
                    <svg width="52" height="39" viewBox="0 0 52 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M41.9119 14.5243C41.109 6.47826 34.2521 0.216553 26.1784 0.216553C18.1046 0.216553 11.2477 6.47826 10.4444 14.5243C4.85401 15.7453 0.826172 20.7424 0.826172 26.5131C0.826172 33.2789 6.2986 38.7835 13.0255 38.7835H39.3312C46.0578 38.7835 51.5305 33.2792 51.5305 26.5131C51.5305 20.7421 47.5024 15.745 41.9119 14.5243ZM39.3312 35.0253H13.0255C11.1735 35.0233 9.37326 34.4105 7.90075 33.2808L14.6197 26.5618L18.7899 30.7591L30.3394 19.3428L32.8961 21.9036L34.8184 12.2432L25.2153 14.2089L27.8352 16.832L18.8146 25.7503L14.627 21.5373L5.59117 30.5746C4.91573 29.3287 4.56197 27.9322 4.56231 26.5131C4.56231 22.0939 7.99503 18.3671 12.3772 18.0289L14.1021 17.8955V16.1491L14.1012 16.0982C14.1141 9.41325 19.5318 3.97447 26.1784 3.97447C32.8372 3.97447 38.2549 9.40912 38.2552 16.089L38.254 17.8955L39.9792 18.0289C44.3614 18.3671 47.7941 22.0939 47.7941 26.5131C47.7941 31.2066 43.9978 35.0253 39.3312 35.0253Z" fill="#2A579A"/>
                    </svg>
                </div> 
                <h5>Cloud Computing Solutions</h5>
                <p>
                    Embrace the flexibility and scalability of cloud computing with our comprehensive services. We help you migrate, manage, and optimize your infrastructure on leading cloud platforms, ensuring efficiency, security, and cost-effectiveness.
                </p>
            </div>
            <div class="cards shadow-xl">
                <div class="card-image">
                    <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.5 4.78125C14.0549 4.78125 4.78125 14.0549 4.78125 25.5V29.4844C4.78125 30.8092 3.71543 31.875 2.39062 31.875C1.06582 31.875 0 30.8092 0 29.4844V25.5C0 11.4152 11.4152 0 25.5 0C39.5848 0 51 11.4152 51 25.5V39.8537C51 44.6947 47.0754 48.6193 42.2244 48.6193L31.2375 48.6094C30.4107 50.0338 28.8668 51 27.0938 51H23.9062C21.2666 51 19.125 48.8584 19.125 46.2188C19.125 43.5791 21.2666 41.4375 23.9062 41.4375H27.0938C28.8668 41.4375 30.4107 42.4037 31.2375 43.8281L42.2344 43.8381C44.4357 43.8381 46.2188 42.0551 46.2188 39.8537V25.5C46.2188 14.0549 36.9451 4.78125 25.5 4.78125ZM14.3438 20.7188H15.9375C17.7006 20.7188 19.125 22.1432 19.125 23.9062V35.0625C19.125 36.8256 17.7006 38.25 15.9375 38.25H14.3438C10.8275 38.25 7.96875 35.3912 7.96875 31.875V27.0938C7.96875 23.5775 10.8275 20.7188 14.3438 20.7188ZM36.6562 20.7188C40.1725 20.7188 43.0312 23.5775 43.0312 27.0938V31.875C43.0312 35.3912 40.1725 38.25 36.6562 38.25H35.0625C33.2994 38.25 31.875 36.8256 31.875 35.0625V23.9062C31.875 22.1432 33.2994 20.7188 35.0625 20.7188H36.6562Z" fill="#2A579A"/>
                    </svg>                  
                </div>  
                <h5>24/7 Technical Support</h5>
                <p>
                    Our dedicated support team ensures that your systems run smoothly around the clock. We offer proactive monitoring, rapid issue resolution, and continuous support to keep your business operations uninterrupted.
                </p>
            </div>
            <div class="cards shadow-xl">
                <div class="card-image">
                    <svg width="43" height="37" viewBox="0 0 43 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.97413 18.6929V19.1443L3.42315 19.1903C4.89229 19.3409 5.9063 19.7831 6.55651 20.4739C7.20338 21.1611 7.55869 22.1673 7.55869 23.5929V29.0993C7.55869 30.8132 7.85994 32.1437 8.64954 33.0411C9.45343 33.9547 10.6629 34.3094 12.2053 34.3094H12.5414V36.2617H11.8899C9.48941 36.2617 7.82603 35.6964 6.75774 34.635C5.6901 33.5741 5.12563 31.927 5.12563 29.5587V24.8914C5.12563 23.1857 4.83859 21.8914 3.97234 21.0474C3.19486 20.2899 2.04902 19.9921 0.5625 19.9407V16.946C2.04902 16.8946 3.19486 16.5967 3.97234 15.8393C4.83859 14.9953 5.12563 13.7009 5.12563 11.9952V7.328C5.12563 4.95986 5.69078 3.31267 6.75883 2.25178C7.82756 1.19022 9.49102 0.625 11.8899 0.625H12.5414V2.58031H12.2053C10.6629 2.58031 9.45343 2.93509 8.64954 3.84869C7.85994 4.74603 7.55869 6.07656 7.55869 7.79044V13.2938C7.55869 14.7211 7.2033 15.728 6.55651 16.4151C5.90646 17.1057 4.89267 17.5472 3.42364 17.6963L2.97413 17.7419V18.1938V18.6929ZM40.0259 18.1938V17.7424L39.5769 17.6964C38.1077 17.5458 37.0937 17.1036 36.4435 16.4128C35.7966 15.7256 35.4413 14.7194 35.4413 13.2938V7.78737C35.4413 6.0735 35.1401 4.74297 34.3505 3.84562C33.5466 2.93203 32.3371 2.57725 30.7947 2.57725H30.4586V0.625H31.1101C33.509 0.625 35.1724 1.19022 36.2412 2.25178C37.3092 3.31267 37.8744 4.95986 37.8744 7.328V11.9952C37.8744 13.7009 38.1614 14.9953 39.0277 15.8393C39.8051 16.5967 40.951 16.8946 42.4375 16.946V19.9407C40.951 19.9921 39.8051 20.2899 39.0277 21.0474C38.1614 21.8914 37.8744 23.1857 37.8744 24.8914V29.5587C37.8744 31.927 37.3099 33.5741 36.2423 34.635C35.174 35.6964 33.5106 36.2617 31.1101 36.2617H30.4586V34.3094H30.7947C32.3371 34.3094 33.5466 33.9547 34.3505 33.0411C35.1401 32.1437 35.4413 30.8132 35.4413 29.0993V23.5929C35.4413 22.1673 35.7966 21.1611 36.4435 20.4739C37.0937 19.7831 38.1077 19.3409 39.5769 19.1903L40.0259 19.1443V18.6929V18.1938Z" fill="#2A579A" stroke="#2A579A"/>
                    </svg>
                </div>  
                <h5>App development</h5>
                <p>
                    Stay ahead of the curve with our world-class web app development services. Our team of skilled developers crafts intuitive and engaging applications that enhance user experiences and drive customer satisfaction.
                </p>
            </div>
            <div class="cards shadow-xl">
                <div class="card-image">
                    <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.0625 25.5C35.0625 27.7113 34.943 29.843 34.7338 31.875H16.2662C16.0471 29.843 15.9375 27.7113 15.9375 25.5C15.9375 23.2887 16.057 21.157 16.2662 19.125H34.7338C34.9529 21.157 35.0625 23.2887 35.0625 25.5ZM37.9312 19.125H50.1932C50.7211 21.167 51 23.2986 51 25.5C51 27.7014 50.7211 29.833 50.1932 31.875H37.9312C38.1404 29.823 38.25 27.6914 38.25 25.5C38.25 23.3086 38.1404 21.177 37.9312 19.125ZM49.1473 15.9375H37.5229C36.5268 9.57246 34.5545 4.24336 32.0145 0.836719C39.8139 2.89863 46.159 8.55645 49.1373 15.9375H49.1473ZM34.2955 15.9375H16.7045C17.3121 12.3117 18.2484 9.1043 19.3939 6.50449C20.4398 4.15371 21.6053 2.45039 22.7309 1.37461C23.8465 0.31875 24.7729 0 25.5 0C26.2271 0 27.1535 0.31875 28.2691 1.37461C29.3947 2.45039 30.5602 4.15371 31.6061 6.50449C32.7615 9.09434 33.6879 12.3018 34.2955 15.9375ZM13.4771 15.9375H1.85273C4.84102 8.55645 11.1762 2.89863 18.9855 0.836719C16.4455 4.24336 14.4732 9.57246 13.4771 15.9375ZM0.806836 19.125H13.0687C12.8596 21.177 12.75 23.3086 12.75 25.5C12.75 27.6914 12.8596 29.823 13.0687 31.875H0.806836C0.278906 29.833 0 27.7014 0 25.5C0 23.2986 0.278906 21.167 0.806836 19.125ZM19.3939 44.4855C18.2385 41.8957 17.3121 38.6883 16.7045 35.0625H34.2955C33.6879 38.6883 32.7516 41.8957 31.6061 44.4855C30.5602 46.8363 29.3947 48.5396 28.2691 49.6154C27.1535 50.6813 26.2271 51 25.5 51C24.7729 51 23.8465 50.6813 22.7309 49.6254C21.6053 48.5496 20.4398 46.8463 19.3939 44.4955V44.4855ZM13.4771 35.0625C14.4732 41.4275 16.4455 46.7566 18.9855 50.1633C11.1762 48.1014 4.84102 42.4436 1.85273 35.0625H13.4771ZM49.1473 35.0625C46.159 42.4436 39.8238 48.1014 32.0244 50.1633C34.5645 46.7566 36.5268 41.4275 37.5328 35.0625H49.1473Z" fill="#2A579A"/>
                    </svg>
                </div>
                <h5>Global IT Outsourcing</h5>
                <p>
                    Streamline your operations and reduce costs with our global IT outsourcing services. Our skilled professionals provide cost-effective solutions, allowing you to focus on your core business while we handle the technical aspects.
                </p>
            </div>
            <div class="cards shadow-xl">
                <div class="card-image">
                    <svg width="49" height="51" viewBox="0 0 49 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.8348 0.288867C25.4165 0.0996094 24.9682 0 24.5 0C24.0319 0 23.5836 0.0996094 23.1653 0.288867L4.40883 8.24766C2.21743 9.17402 0.583834 11.3355 0.593795 13.9453C0.6436 23.8266 4.70766 41.9057 21.8704 50.1234C23.5338 50.9203 25.4663 50.9203 27.1297 50.1234C44.2924 41.9057 48.3565 23.8266 48.4063 13.9453C48.4163 11.3355 46.7827 9.17402 44.5913 8.24766L25.8348 0.288867ZM35.7559 20.8184L23.0059 33.5684C22.0696 34.5047 20.5555 34.5047 19.6291 33.5684L13.2541 27.1934C12.3178 26.257 12.3178 24.743 13.2541 23.8166C14.1905 22.8902 15.7045 22.8803 16.6309 23.8166L21.3125 28.4982L32.3692 17.4316C33.3055 16.4953 34.8196 16.4953 35.7459 17.4316C36.6723 18.368 36.6823 19.882 35.7459 20.8084L35.7559 20.8184Z" fill="#2A579A"/>
                    </svg>
                </div>                    
                <h5>Cybersecurity</h5>
                <p>
                    Safeguard your business from evolving cyber threats with our robust cybersecurity solutions. We employ cutting-edge technologies and strategies to protect your digital assets, sensitive information, and maintain the integrity of your operations.
                </p>
            </div>
            <div class="cards shadow-xl">
                <div class="card-image">
                    <svg width="60" height="47" viewBox="0 0 60 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_269_385)">
                        <path d="M36.9439 0.11015C35.3586 -0.339654 33.7079 0.569135 33.251 2.12968L21.3142 43.2547C20.8572 44.8152 21.7805 46.44 23.3658 46.8898C24.9512 47.3396 26.6018 46.4309 27.0588 44.8703L38.9956 3.74531C39.4525 2.18476 38.5293 0.559955 36.9439 0.11015ZM44.4604 11.135C43.2947 12.2824 43.2947 14.1459 44.4604 15.2934L52.7882 23.5L44.4511 31.7066C43.2854 32.8541 43.2854 34.7176 44.4511 35.865C45.6168 37.0125 47.5099 37.0125 48.6756 35.865L59.1203 25.5838C60.286 24.4363 60.286 22.5728 59.1203 21.4254L48.6756 11.1441C47.5099 9.99667 45.6168 9.99667 44.4511 11.1441L44.4604 11.135ZM15.8587 11.135C14.693 9.98749 12.7999 9.98749 11.6342 11.135L1.18946 21.4162C0.0237595 22.5637 0.0237595 24.4271 1.18946 25.5746L11.6342 35.8559C12.7999 37.0033 14.693 37.0033 15.8587 35.8559C17.0244 34.7084 17.0244 32.8449 15.8587 31.6975L7.52157 23.5L15.8587 15.2934C17.0244 14.1459 17.0244 12.2824 15.8587 11.135Z" fill="#2A579A"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_269_385">
                        <rect width="59.6841" height="47" fill="white" transform="translate(0.312988)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>                
                <h5>UI/UX design</h5>
                <p>
                    Stay ahead of the curve with our world-class web app development services. Our team of skilled developers crafts intuitive and engaging applications that enhance user experiences and drive customer satisfaction.
                </p>
            </div>
        </div>
    </div>

</section>

<style>
    section {
        margin-top: 100px;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .cards {
        /* Rectangle 3 */
        /* width: 345px; */
        height: 300px;
        background: #F4F9FF;
        /* box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.25); */
        padding: 30px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
        border-bottom: 3px solid #2A579A;
        border-top: 1px solid #2A579A;
        backdrop-filter: blur(22.5px);
        border-radius: 40px;
    }
    .card-image {
        height: 51px;
    }
    h5 {
        /* Cloud Computing Solutions */
        font-size: 20px;
        line-height: 120%;
        /* identical to box height, or 24px */
        text-transform: capitalize;
        color: #000000;
        margin-top: 30px;
    }

    p {
        font-size: 14px;
        line-height: 120%;
        color: #000000;
        margin-top: 22px;
    }
</style>