---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { ARTICLES_PER_PAGE } from "../../constants";

const currentPage: number | null = +Astro.url.searchParams.get("page")! || 1;

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const totalPages: number = Math.ceil(
  allBlogArticles.length / ARTICLES_PER_PAGE
);

const articlesForPage: CollectionEntry<"blog">[] = allBlogArticles.slice(
  (currentPage - 1) * ARTICLES_PER_PAGE,
  currentPage * ARTICLES_PER_PAGE
);
---

<MainLayout title="Blogs">
  <section class="bg-white dark:bg-gray-900 pt-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
          Our Blog
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
          We use an agile approach to test assumptions and connect with the
          needs of your audience early and often.
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-3">
        <!-- Blog Card -->
        {articlesForPage.map((article) => <BlogCard article={article} />)}
      </div>
    </div>
  </section>
</MainLayout>
