---
import MainLayout from "../../layouts/MainLayout.astro";
// import Tags from "../../components/Tags.astro";
import { getEntry } from "astro:content";
import { formatDate } from "../../utils";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}

const entry = await getEntry("career", slug);

if (entry == undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();

export function getStaticPaths(){
  return [
  {params: {slug: 'vacancy-java-fullstack-developer'}},
  {params: {slug: 'senior-frontend-developer'}},
  ];
}
---

<MainLayout>
  <section
    class="pt-20 pb-16 lg:pt-40 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
      <article
        class="mx-auto w-full max-w-4xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
        <header class="not-format">
          <address class="flex items-center not-italic">
            <div
              class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
              <div>
                <p class="text-base text-gray-600 dark:text-gray-400">
                  <time datetime="2022-02-08" title="February 8th, 2022"
                    >{formatDate(entry.data.pubDate)}</time>
                </p>
              </div>
            </div>
          </address>
          <!-- <img
            src={"/images/" + entry.data.image}
            alt="Article Image"
            class="w-full h-auto rounded-xl my-6"
          /> -->
        </header>
        <div class="content-section text-gray-800 dark:text-white">
          <Content />
        </div>
      </article>
    </div>
  </section>
</MainLayout>

<style is:global>
  /* Container for Markdown content */
  /* .content-section {
      max-width: 800px;
      margin: 0 auto;
  } */

  .content-section a {
    color: var(--logo-color);
    font-weight: 600;
    text-decoration: underline;
  }
  .content-section p {
    margin: 20px 0;
  }
  .content-section h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }

  .content-section img {
    margin: 0 auto;
  }

  .content-section h1, .content-section h2, .content-section h3 {
    font-weight: bold;
    margin: 20px 0;
  }

  .content-section h1 {
    font-size: 3em;
    /* color: #333; */
    border-bottom: 3px solid var(--logo-color);
    padding-bottom: 0.3em;
    margin-bottom: 30px;
  }

  .content-section h2 {
    font-size: 2.5em;
    /* color: #555; */
  }

  .content-section h3 {
    font-size: 2em;
    /* color: #777; */
  }
  .content-section ul,
  .content-section ol {
    margin-bottom: 20px;
    padding-left: 20px; /* Adjust indentation */
  }

  .content-section ul {
    list-style-type: none; /* Remove default bullets */
  }

  .content-section ul li {
    margin-bottom: 5px; /* Adjust spacing between list items */
  }

  .content-section ul ul li {
    margin-left: 5px; /* Adjust second-level indentation */
  }

  .content-section ul li:before {
    content: "\2022"; /* Default bullet symbol for first-level items */
    color: #000000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px; /* Adjust spacing between bullet point and text */
  }

 .content-section ul ul li:before {
    content: "\25AA"; /* Square bullet symbol for second-level items */
    color: #000000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 5px; /* Adjust spacing between bullet point and text */
  }

 .content-section ol li {
    margin-bottom: 5px; /* Adjust spacing between list items */
    list-style-type: decimal;
  }
  .content-section ol ul {
    margin-top: 10px;
  }
  .content-section ol ul li {
    list-style-type: disc;
  }

  /* CSS for markdown table */
  table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  }

  th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
  }

  th {
      background-color: #f2f2f2;
      font-weight: bold;
  }

    /* Custom CSS for styling markdown content inside <aside> tags */
  aside {
      background-color: #dbdbdbb9;
      border-left: 6px solid #555;
      padding: 10px;
      margin-bottom: 20px;
      font-style: italic;
  }

  aside p {
      margin-top: 0;
      margin-bottom: 10px;
  }

  aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
      margin-top: 0;
  }

  aside ul, aside ol {
      margin-top: 0;
      margin-bottom: 10px;
      padding-left: 20px;
  }

  aside img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
  }

</style>
